@import 'colores';
@import 'mixins';


* {
    font-family: 'Rajdhani', sans-serif;
    background: #1f1f2e;
    margin: 0;
    padding: 0;
    color: map-get($colores,color-principal);
    box-sizing: border-box;
}

.color-default {
    color: map-get($colores,color-principal);
}

.mantener {
    &:hover {
        color: map-get($colores,color-hover);
    }
}

/* index */

header {

    height: 60px;
    position: relative;
    z-index: 100;

    .container-logo-nav-links {

        .logo {
            .logo__a {
                text-decoration: none;

                .logo__a__img {
                    width: 60px;
                }
            }
        }

        .menu-desplegable {
            transition: all 1s;

            .nav-link {
                &:hover {
                    color:map-get($colores,color-hover);
                    i  {
                        color: map-get($colores,color-hover);
                    }
                }
            }
        }
    }
}

.background-index {
    height: 90vh;
    background-image: url(../images/imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .background-index__h2 {
        background: rgba(0, 0, 0, .5);
        backdrop-filter: blur(8px);
    }
}

.rightside {
    @include escritorio{
        position: absolute;
        width: 90%;
    }
}

.slider-container {

    .slide-index,
    .linea-1 {
        max-width: 500px;
    }
}

.tabla-container {
    .tabla-index {
        max-width: 500px;
        border-collapse: collapse;

        .thead__th:nth-child(odd) {
            background: #4e044a;
        }

        .thead__th:nth-child(even) {
            background: #6a0465;
        }

        .tr__td {
            padding: .5rem .5rem .5rem 0;
            border-bottom: 1px solid map-get($colores,color-principal);
        }
    }
}

.linea {
    height: .5rem;
}

.noticias-container {
    .noticias {
        max-width: 260px;
    }
}

.link-footer {
    &:hover {
        color: map-get($colores,color-hover);
        i {
            color: map-get($colores,color-hover);
        }
    }
}

/* registrarme */

.background-register {
    height: 90vh;
    background-image: url(../images/register-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .form-registrarse {
        background: transparent;
        max-width: 500px;

        @include celular {
            background-color: rgba(0, 0, 0, .5);
            backdrop-filter: blur(8px);
        }

        .background__h4_registrarse {
            background: #222;

            @include celular {
                background: transparent;
            }
        }

        .container-button-register {
            
            .button-register {
                background-color: rgba(0, 0, 0, .5);

                @include celular {
                    background: transparent;
                }
            }
        }
    }
}

/* Sobre nosotros */


.contenido-sobre-nosotros {

    .container-h2-sobre-nosotros {
        height: 25vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .h2-sobre-nosotros {
            @include celular  {
                background-image: url(../images/background-sobre-nosotros.png);
                background-repeat: no-repeat;
                background-size:100%;
                background-position: center;
                margin: 0;
                padding: 2rem;
                color: #fff;
            }
        }
    }

    .section-sobre-nosotros {
        text-align: center;
        padding: 1rem;
        max-width: 1023px;
        margin: 0 auto;
    }
}

.proyectos {
    max-width: 1200px;

    .proyecto1,
    .proyecto2,
    .proyecto3 {
        width: 100%;
        background-image: url(../images/background-proyectos.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2vh auto;
        max-width: 350px;
        padding: 2%;

        .enlace-imagen {
            width: 100%;
            margin: 11%;

            .imagenes-proyectos {
                width: 100%;
            }
        }
    }
}

.proyecto-hover{
    transition:all 1s;
    @include escritorio{
        &:hover {
            transform: scale(1.03);
            box-shadow: -5px -5px 10px #FF0AC8, 5px 5px 10px map-get($colores,color-principal);
        }
    }
}

.proyecto-hover-invertido {
    &:hover {
        @extend .proyecto-hover;
        transform: scale(1.05);
    }
}


/* Herramientas */


.background-tools {
    position: relative;
    height: 90vh;
    overflow: hidden;

    .container-h2-tools {

        .h2-tools {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(0, 0, 0, .5);
            padding: .2rem .5rem;
            border-radius: .5rem;
            color: #fff;
            background: rgba(0, 0, 0, .2);
            backdrop-filter: blur(8px);
            z-index: 100;
        }
    }
}

.table__tools {
    width: 100%;
    max-width: 480px;
    margin-top: 1rem;

    thead {

        .thead__th-tools {
            background-color: #4e044a;
        }
    }

    tr {
        .tr__td-tools {
            border-bottom: 1px solid map-get($colores,color-principal);
        }
    }
}

/* Ayuda */


.contenido-help {
    background-image: url(../images/background-help.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;

    .container-form {
        max-width: 500px;

        .form-help {
            background: transparent;

            @include celular {
                background: rgba(0, 0, 0, .5);
                backdrop-filter: blur(8px);
            }

            .background__h4_help {
                background: #222;

                @include celular {
                    background: transparent;
                }
            }

            .container-button-help {
                .button-help {
                    background: rgba(0, 0, 0, .5);

                    @include celular {
                        background: transparent;
                    }
                }
            }
        }
    }
}